.ft {
    background-color: #041228;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px 20px;
}

.footer-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.footer-contact div {
    text-align: left;
    color: white;
}

.footer-contact i {
    font-size: 28px;
    margin-bottom: 8px;
}

.footer-contact p {
    margin: 5px 0 0;
    font-size: 16px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    text-align: left;
    border-top: 1px solid #ffffff;
}

.column h4 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons i {
    font-size: 24px;
    cursor: pointer;
}

.footer-payment {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer-payment img {
    max-width: 100%;
    height: auto;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}

