.map-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.search-box {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 1;
}

.search-input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  color: #041228;
}

.done-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 120px;
  font-size: 1rem;
  background-color: #041228;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.done-button:hover {
  background-color: #020a18;
}
.go-map-button {
  background-color: #4CAF50; /* Green background */
  color: white;              /* White text */
  border: none;              /* No border */
  padding: 10px 20px;        /* Padding for top/bottom and left/right */
  text-align: center;        /* Centered text */
  text-decoration: none;      /* No underline */
  display: inline-block;      /* Inline-block element */
  font-size: 16px;           /* Font size */
  margin: 10px 0;           /* Margin above and below */
  cursor: pointer;           /* Pointer cursor on hover */
  border-radius: 5px;       /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}