/* PumpFuelChart.css */
.pump-fuel-chart {
    width: 55%;
    background-color: #041228;
    border-radius: 8px;
    padding: 20px;
  }
  
  .pump-fuel-chart h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 25px;
  }
  