* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
  }
  
  body {
    background: linear-gradient(to bottom, #ffffff, #0c0c1d);
    color: lightgray;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  section {
    height: 200vh;
    scroll-snap-align: center;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
  }
  
  .company-name {
    margin-top: 120px; /* Adjust as needed */
    margin-left: 120px; /* Adjust as needed */
  }
  
  .h1 {
    font-size: 48px; /* Example of changing font size for h1 */
    font-weight: bold; /* Example of making font bold */
    margin-bottom: 20px; /* Example of adding margin bottom */
    color: black;
  }
  
  .h2 {
    font-size: 24px; /* Example of changing font size for h2 */
    line-height: 1.5; /* Example of adjusting line height */
    color: black;
  }
  .image-container1 {
    margin-left: 850px;
    margin-top: -250px;
    max-width: 175px;
  }
  
  .image-container2 {
    margin-left: 1050px;
    margin-top: -175px;
    max-width: 175px;
  }