.commonn {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    min-height:800px;
    display: flex;
    flex-direction: column;
    background: url('../../../img/map.jpg');
    
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    width: 500px;
    animation: fadeIn 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="button"],
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  
  button[type="button"]:hover,
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  button.close {
    background: none;
    border: none;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 610px;
    height: 610px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .key-container, .location-container {
    display: flex;
    align-items: center;
  }
  
  .key-input, .location {
    width: 70%;
    margin-right: 10px;
  }
  
  .key-button, .location-button {
    flex-shrink: 0;
  }
  