/* General reset */
.two-column-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  font-family: 'Poppins', sans-serif;
}

.leftc, .rightc {
  flex: 1; /* Both columns will take up equal space */
  display: flex;
  justify-content: center;
  align-items: center;
}


.leftc {
  background-color: #ffffff; /* Light background for left column */
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-image {
  width: 100vh;
    height: auto; /* Maintain aspect ratio */
}
.rightc {
  background-color: #ffffff; /* Dark background for right column */
  color: #041228;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align content to the left */
}

.login {
  margin-left: 100px;
  font-size: 2.5rem; /* Larger font for 'Login' */
  margin-bottom: 10px;
}

.loginun {
  margin-left: 100px;
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: rgb(100, 100, 100);
  
}

.form-group {
  margin-bottom: 20px;
  width: 100%; /* Ensure full-width form elements */
  
}
.email-input::placeholder,.password-input::placeholder{
  color: rgb(100, 100, 100);
}

.email-label {
  color: #041228;
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-left: 100px;
}
.password-label{
  color: #041228;
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-left: 100px;
}

.email-input, .password-input {
  width: 70% !important;
  padding: 8px !important;
  font-size: 1rem;
  border-radius: 25px !important;
  border: none !important;
  box-shadow: 0 0 0.5px 1px #041228; /* White outline */
  outline: none;
  background-color: #ffffff;
  color: #041228;
  box-sizing: border-box;
}

/* White outline when focused */
.email-input:focus, .password-input:focus {
  box-shadow: 0 0 0.5px 1px r#041228; /* White outline */
  outline: none; /* Ensures no default outline */
}


.dont {
  align-self:flex-end;
  font-size: 0.9rem;
  color: #041228;
  margin-top: 10px;
  margin-right: 100px;
  cursor: pointer;
}
.dont:hover{
  text-decoration: underline;
}


.sign-in {
  width: 70%; 
  padding: 8px; 
  font-size: 1rem;
  background-color: #041228;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  margin-left: 100px;
  margin-top: 20px;
  cursor: pointer;
}

.buyn {
  margin-left: 100px;
  font-size: 0.9rem;
  margin-top: 20px;
  color: #041228;
  
  
}

.buyn span {
  color: #041228;
  cursor: pointer;
  font-weight: 600;
}
.buyn span:hover{
  text-decoration: underline;
}
